# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Bin/
UnityGenerated/
Library/
Assets/AssetStoreTools*
project.json
project.lock.json

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.obj
*.tlog
*.log
*.idb
*.opendb
WSATestCertificate.pfx
WSATestCertificate.pfx.meta

#  ============================================ #
# Exceptions to above rules for Galaxy Explorer #
#  ============================================ #
UWP/*
!UWP/UnityOverwrite.txt
!UWP/Galaxy Explorer.sln
!UWP/project.json

!UWP/Assembly-CSharp/
UWP/Assembly-CSharp/*
!UWP/Assembly-CSharp/project.json

!UWP/Assembly-CSharp-firstpass/
UWP/Assembly-CSharp-firstpass/*
!UWP/Assembly-CSharp-firstpass/project.json

!UWP/Galaxy Explorer/
UWP/Galaxy Explorer/*
!UWP/Galaxy Explorer/App.xaml
!UWP/Galaxy Explorer/App.xaml.cs
!UWP/Galaxy Explorer/Galaxy Explorer.csproj
!UWP/Galaxy Explorer/XamlInputHandling.cs
!UWP/Galaxy Explorer/MainPage.xaml
!UWP/Galaxy Explorer/MainPage.xaml.cs
!UWP/Galaxy Explorer/Package.appxmanifest
!UWP/Galaxy Explorer/project.json

!UWP/Galaxy Explorer/Properties/
UWP/Galaxy Explorer/Properties/*
!UWP/Galaxy Explorer/Properties/AssemblyInfo.cs

!UWP/Galaxy Explorer/Assets/
UWP/Galaxy Explorer/Assets/*
!UWP/Galaxy Explorer/Assets/SplashScreen.scale-150.png
!UWP/Galaxy Explorer/Assets/SplashScreen.scale-200.png
!UWP/Galaxy Explorer/Assets/Square150x150Logo.scale-200.png
!UWP/Galaxy Explorer/Assets/Square150x150Logo.scale-400.png
!UWP/Galaxy Explorer/Assets/Square44x44Logo.scale-200.png
!UWP/Galaxy Explorer/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
!UWP/Galaxy Explorer/Assets/Square44x44Logo.targetsize-256_altform-unplated.png
!UWP/Galaxy Explorer/Assets/StoreLogo.png
!UWP/Galaxy Explorer/Assets/StoreLogo.scale-100.png
!UWP/Galaxy Explorer/Assets/StoreLogo.scale-200.png
!UWP/Galaxy Explorer/Assets/StoreLogo.scale-400.png
!UWP/Galaxy Explorer/Assets/Wide310x150Logo.scale-200.png

!UWP/GE_POIMaker/
/Assets/UI/POIs/POIs_processed.log.meta

/D3D
